body{
	background-color: #D3D3D3;
}
#header{
	color: black;
	border-style: double;
	border-color: black;
	text-align: center;
}

p{
	color: black;
	font-size: 12pt;
	font-weight: normal;
	text-align: center;
}

.caption{
	font-weight: bold;
	color: red;
	width: 100%;
	text-align: center;
}

.links{
	text-align: center;
	font-family: helvetica;
}

h1{
	color: red;
	font-size: 24pt;
}

h2{
	color: red;
	font-size: 18pt;
}

a{
	color: red;
	font-weight: bold;
	text-align: center;
}

li{
	color: black;
	font-weight: bold;
}

